body{
    margin:0;
    color:#ffffff;
    background:#000000;
    no-repeat
}
h1.big{
    margin:80px 0 0 80px;
	font-size: 60px;
	
    font:bold italic
    "Times New Roman",Times,serif
		
}
img{
	width: 100px;
	height: 50px;
}

h1{
	color: cornflowerblue;
}
