ul.ddmenu{
	background-color:black;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}

ul.ddmenu li{
	width: 125px;
	display: inline-block;
}

ul.ddmenu a{
	color: white;
}

ul.ddmenu ul{
	display: none;
}

ul.ddmenu a:hover{
	background-color: brown;
	color: darkred;
}

ul.ddmenu li:hover ul{
	display: block;
}

ul.ddmenu ul{
	display: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
}