ul.menu {
	background-color:yellow;
	margin: 0px;
	padding: 0px 100px 0px 100px;
}

ul.menu li{
	width: 125px;
	display: inline-block;
	list-style-type: none;
	position: relative;
}

ul.menu a{
	color: white;
	background-color: pink;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

ul.menu ul{
	display: none;
}

ul.menu a:hover{
	background-color: mediumpurple;
	color:lightseagreen;
}

ul.menu li:hover ul{
	display: block;
}

ul.menu ul{
	display: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
}