ul.menu{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background-color: silver;
}
ul.menu li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    width: 296px;
}

ul.menu a{
    text-decoration: none;
    color:sienna;
    padding:6px;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 40px;
    text-decoration: none;
    background-color:lightgreen;
}

ul.menu a:hover{
    background-color: cadetblue;
    color: lightgoldenrodyellow;
}

ul.menu li:hover ul{
    display: block;
}
ul.menu ul{
    display: none;
}

ul.menu ul{
	display: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

div.part1{
    width: 300px;
    height: 300px;
    border-style: solid;
}